@model Campeonato.Aplicacao.GestaoDeTemporadas.Modelos.ModeloDeListaDeTemporada
@using GridMvc.Html
@using Campeonato.Aplicacao.Util

@{
    ViewBag.Title = "Lista de Temporadas";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                        <li class="breadcrumb-item active">Lista de Temporadas</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form role="form" action="@Url.Action("Index", "Temporada")" method="get">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Buscar Temporadas</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    @Html.InputTextFor(a => a.Filtro.Nome, "Temporada", required: false)
                                </div>
                                <div class="col-lg-4">
                                    @Html.InputTextFor(a => a.Filtro.Ano, "Ano", required: false)
                                </div>
                                <div class="col-lg-4">
                                    <label class="control-label"> Ativo </label>
                                    @Html.CheckBoxFor(m => m.Filtro.Ativo, new { @class = "checkbox" })
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            @if (User.EhAdministrador())
                            {
                                <a href="@Url.Action("Cadastrar", "Temporada")" class="btn btn-info float-left" style="margin-right: 10px;">Nova Temporada</a>
                            }
                            <button type="submit" class="btn btn-primary float-right">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Lista de Temporadas </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        @Html.Grid(Model.Lista).Columns(colunas =>
                        {
                           colunas.Add(m => m.Nome).Titled("Nome");
                           colunas.Add(m => m.Ano).Titled("Ano");
                           colunas.Add(m => m.Pais).Titled("País");
                           colunas.Add(m => m.Ativo).Titled("Ativo");
                           colunas.Add(m => m.DataDoCadastro).Titled("DataDoCadastro");

                            colunas.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(
                            m => @<div class="custom-control custom-switch left">
                                    <input type="checkbox" class="custom-control-input btnAtivarTemporada" id="@m.Id" data-id="@m.Id" @(m.Aberta ? "checked" : "")>
                                    <label class="custom-control-label" for="@m.Id"> ATIVO</label>
                                </div>);

                            colunas.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(
                                m => @<div class="btn-group btn-group-sm"><a href="@Url.Action("Editar", "Temporada", new { id = m.Id })" title="Editar" class="btn btn-info"><i class="fas fa-pencil-alt"></i></a></div>);

                        }).WithPaging(VariaveisDeAmbiente.Pegar<int>("registrosPorPagina")).Sortable(true).EmptyText("Nenhuma temporada encontrada.")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".btnAtivarTemporada").click(function () {
            var idTemporada = $(this).attr("data-id");
            $.ajax({
                type: 'GET',
                url: '../Temporada/AtivarTemporada',
                data: 'id=' + idTemporada,
                success: function (resultado) {
                    campeonatoGeral.AdicionarMensagemDeSucesso(resultado);
                }
            });
        });
    })
</script>
