@model Campeonato.Aplicacao.GestaoDeApostas.Modelos.ModeloDeEdicaoDeAposta
@using GridMvc.Html

@{
    ViewBag.Title = "Minhas Apostas";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                        <li class="breadcrumb-item active">Minhas Apostas</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <form role="form" action="@Url.Action("SalvarMinhaAposta", "Aposta")" method="post">
                    @if (Model.RodadaFechada && !Model.RodadaFinalizada)
                    {
                        <div class="callout callout-info">
                            <h5>@Model.NomeRodada FECHADA!</h5>

                            @if (Model.RodadaPodeAlterar)
                            {
                                <p>Rodada em andamento.</p>}
                            else
                            {
                                <p>Somente é possível realizar alterações até 30 minutos antes do primeiro jogo da Rodada.</p>
                            }

                        </div>
                    }

                    @if (Model.RodadaFinalizada)
                    {
                        <div class="callout callout-info">
                            <h5>@Model.NomeRodada FINALIZADA!</h5>
                            <div class="info-box">
                                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-table"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-number fa-3x"> @Model.Pontuacao ponto(s)</span>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="card">
                        <div class="card-header ">  
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-3 col-sm-12 col-xs-12">
                                        <h3 class="card-title">
                                            Apostas da Rodada
                                            @Html.DropDownListFor(m => m.Rodada, Model.Rodadas, new { @class = "form-control autoComplete" })
                                        </h3>

                                    </div>
                                    <div class="col-lg-3 col-sm-12 col-xs-12 text-center">
                                        @if (Model.TemApostaExclusiva)
                                        {
                                            <a href="@Url.Action("Visualizar", "Aposta", new { id = Model.IdApostaExclusiva, idUsuario = Model.Usuario })" class="btn btn-block btn-default btnApostaExclusiva">Visualizar Aposta Exclusiva</a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn btn-block btn-primary apostaEspecifica btnApostaExclusiva btnBotaoTopo " data-toggle="modal" data-target="#modalRodadaEspecifica"
                                               data-id="@Model.Id" data-nomeRodada="@Model.NomeRodada" data-idUsuario="@Model.Usuario" data-idRodada="@Model.IdRodada">Gerar Aposta Exclusiva</a>
                                        }
                                       
                                    </div>
                                    <div class="col-lg-3 col-sm-12 col-xs-12 text-center">
                                        @if (Model.RodadaFechada)
                                        {
                                            <a href="@Url.Action("VisualizarTodasApostas", "Aposta", new { id = Model.IdRodada, idUsuario = Model.Usuario })" class="btn btn-block btn-primary btnBotaoTopo" >Visualizar apostas da rodada</a>
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                        <input hidden name="id" value="@Model.IdRodada" />
                        <div class="card-body">

                            @foreach (var jogo in Model.Jogos)
                            {
                                <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                                    <div class="row" style="width: 100%; ">

                                        <div class=" col-lg-3  col-sm-6">
                                            <p class="text-center">
                                                <span class="text-muted">@jogo.SiglaTime1</span>
                                                <img src="../../content/escudos/@jogo.ImagemTime1" style="max-width: 40px;" />
                                                <input type="text" class="text-muted placarResultado text-center @(jogo.CssResultadoTime1) " @(Model.RodadaFechada ? "disabled='disabled'" : "") name="placar1[]" maxlength="2" value="@jogo.PlacarTime1">
                                                <span style="padding-bottom: 20px;">x</span>
                                                <input type="text" class="text-muted placarResultado text-center @(jogo.CssResultadoTime2) " @(Model.RodadaFechada ? "disabled='disabled'" : "") name="placar2[]" maxlength="2" value="@jogo.PlacarTime2">

                                                <img src="../../content/escudos/@jogo.ImagemTime2" style="max-width: 40px;" />
                                                <span class="text-muted">@jogo.SiglaTime2</span>
                                                <input hidden name="idJogos[]" value="@jogo.Id" />
                                            </p>
                                        </div>
                                        <div class=" col-lg-3  col-sm-6">
                                            <p class="d-flex flex-column text-center">
                                                <span class="text-muted"> @jogo.NomeTime1</span>
                                                <span class="text-muted"> @jogo.NomeTime2</span>
                                            </p>
                                        </div>
                                        <div class=" col-lg-3 col-sm-6">
                                            <p class="d-flex flex-column text-center">
                                                <span class="font-weight-bold">
                                                    <i class="fas fa-calendar-plus-o"></i> @jogo.DataDoJogo
                                                </span>
                                                <span class="text-muted">@jogo.HoraDoJogo</span>
                                            </p>
                                        </div>
                                        <div class=" col-lg-3 col-sm-6">
                                            <p class="d-flex flex-column text-center">
                                                <span class="font-weight-bold">
                                                    <i class="fas fa-calendar-plus-o"></i> @jogo.NomeRodada
                                                </span>
                                                <span class="text-muted">@jogo.NomeEstadio</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="card-footer">
                            @if (Model.RodadaPodeAlterar)
                            {
                                <button type="submit" class="btn btn-primary float-right">Salvar Aposta</button>
                            }

                            @if (Model.RodadaFinalizada)
                            {
                                <div class="callout callout-info">
                                    <h5>LENGENDA PLACAR: </h5>
                                    <h7> <i class="fas fa-stop verde"></i> Placar exato (3 pontos) </h7>
                                    <h7> <i class="fas fa-stop amarelo"></i> Empate (2 pontos) </h7>
                                    <h7> <i class="fas fa-stop azul"></i> Time vencedor (1 ponto) </h7>
                                </div>
                            }
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_RodadaEspecifica")

<script type="text/javascript" language="javascript">

    $(function () {

        var ua = navigator.userAgent;
        var isAndroid = /Android/i.test(ua);
        var isChrome = /Chrome/i.test(ua);
        var isSafari = /Safari/i.test(ua);

        if (isAndroid || isSafari) {
            $('.placarResultado').attr('type', 'tel');
        }    

        $(".placarResultado").bind('input paste', function (e) {
            var regex = /[^0-9]/g;
            if ($(this).val().match(regex)) {
                $(this).val($(this).val().replace(regex, ''));
            }
        });

        $("#Rodada").on("change", function () {
            var idRodada = $(this).val();
            window.location.assign("../MinhasApostas/" + idRodada);
        });

        $(".apostaEspecifica").button().click(function () {
            var idAposta = $(this).attr("data-id");
            var idRodada = $(this).attr("data-idRodada");
            var idUsuario = $(this).attr("data-idUsuario");
            var nomeRodada = $(this).attr("data-nomeRodada");
            
            var form = $("#modalRodadaEspecifica");

            $(".Id").val(idAposta);
            $(".IdRodada").val(idRodada);
            $(".IdUsuario").val(idUsuario);
            $(".spnTitulo").html(nomeRodada);

            buscarDadosAposta(idRodada, idUsuario, form);
            form.modal('show');
        });

        function buscarDadosAposta(idRodada, idUsuario, form) {
            $.ajax({
                type: 'GET',
                url: '../../Usuario/BuscarUsuario',
                data: 'idUsuario=' + idUsuario,
                beforeSend: function (resultado) {
      
                },
                success: function (resultado) {
             
                    form.modal('show');
                    $(".txtNome").html(resultado.nome);
                    $(".txtCredito").html("R$ " + resultado.credito);
                }
            });
        }
    });

    $('.autoComplete').select2();
</script>
