
@{
    ViewBag.Title = "_Menu";
    var controller = ViewBag.Controller;
}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="@Url.Action("Index", "Home")" class="brand-link">
        <img src="~/Content/bola2.png" alt="Logo Campeonato" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Bolão Brasileirão</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Content/images/avatar-anonimo.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="d-block" data-toggle="dropdown"> @User.Nome()</a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                @if (User.EhAdministrador())
                {
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Usuario")" class="nav-link @Html.Raw(controller == "Usuario" ? "active" : "")">
                            <i class="nav-icon fas fa-user"></i>
                            <p> Usuários </p>
                            <span class="badge badge-info right numeroDeUsuariosNovos"><i class="fas fa-sync-alt fa-spin"></i></span>
                        </a>

                    </li>
                }

                @if (User.EhAdministrador())
                {
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Time")" class="nav-link @Html.Raw(controller == "Time" ? "active" : "")">
                            <i class="nav-icon fas fa-shield-alt"></i>
                            <p> Times </p>
                        </a>
                    </li>
                }

                @if (User.EhAdministrador())
                {
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Estadio")" class="nav-link @Html.Raw(controller == "Estadio" ? "active" : "")">
                            <i class="nav-icon fas  fa-home"></i>
                            <p> Estádios </p>
                        </a>
                    </li>
                }
                @if (!User.EhAdministrador())
                {
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Extrato")" class="nav-link @Html.Raw(controller == "Extrato" ? "active" : "")">
                            <i class="nav-icon fas fa-dollar-sign"></i>
                            <p> Extrato Financeiro </p>
                        </a>
                    </li>
                }
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Jogo" )" class="nav-link @Html.Raw(controller == "Jogo" ? "active" : "")">
                        <i class="nav-icon fas  fa-futbol"></i>
                        <p> Jogos </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Rodada" )" class="nav-link @Html.Raw(controller == "Rodada" ? "active" : "")">
                        <i class="nav-icon fas fa-table"></i>
                        <p> Rodadas </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Aposta" )" class="nav-link @Html.Raw(controller == "Aposta" ? "active" : "")">
                        <i class="nav-icon fas fa-receipt"></i>
                        <p> Apostas </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "ApostaExclusiva" )" class="nav-link @Html.Raw(controller == "ApostaExclusiva" ? "active" : "")">
                        <i class="nav-icon fas fa-dollar-sign"></i>
                        <p> Apostas Exclusivas</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Resultado" )" class="nav-link @Html.Raw(controller == "Resultado" ? "active" : "")">
                        <i class="nav-icon fas fa-list"></i>
                        <p> Classificação Geral </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "ResultadoExclusivo" )" class="nav-link @Html.Raw(controller == "ResultadoExclusivo" ? "active" : "")">
                        <i class="nav-icon fas fa-list"></i>
                        <p> Classificação Exclusiva </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Premiacao" )" class="nav-link @Html.Raw(controller == "Premiacoao" ? "active" : "")">
                        <i class="nav-icon fas fa-dollar-sign"></i>
                        <p> Premiações</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
