
@{
    ViewBag.Title = "_Menu";
    var controller = ViewBag.Controller;
}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="@Url.Action("Index", "Home")" class="brand-link">
        <img src="~/Content/logo_pmdf.png" alt="Logo PMDF" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Caráter Geral Policial</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/Content/images/avatar-anonimo.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a  href="@Url.Action("MeusDados", "Usuario")"> @User.Nome()</a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                @if (User.EhAdministrador() || User.EhInterno())
                {
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Usuario")" class="nav-link @Html.Raw(controller == "Usuario" ? "active" : "")">
                            <i class="nav-icon fas fa-user"></i>
                            <p> Usuários </p>
                            <span class="badge badge-info right numeroDeUsuariosNovos"><i class="fas fa-sync-alt fa-spin"></i></span>
                        </a>

                    </li>
                }

                @if (User.EhAdministrador() || User.EhInterno())
                {
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "ComandoRegional")" class="nav-link @Html.Raw(controller == "Time" ? "active" : "")">
                            <i class="nav-icon fas fa-user-shield"></i>
                            <p> Comandos Regionais </p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Batalhao")" class="nav-link @Html.Raw(controller == "Time" ? "active" : "")">
                            <i class="nav-icon fas fa-shield-alt"></i>
                            <p> Batalhões </p>
                        </a>
                    </li>
                }

            </ul>
        </nav>
    </div>
</aside>
