@model Campeonato.Aplicacao.GestaoDeRodada.Modelos.ModeloDeCadastroDeRodada
@using GridMvc.Html

@{
    ViewBag.Title = "Cadastrar Rodada";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                        <li class="breadcrumb-item active">Cadastro de Rodada</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form role="form" action="@Url.Action("Cadastrar", "Rodada")" method="post">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Cadastrar Rodada</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    @Html.InputTextFor(a => a.Nome, "Nome", required: true)
                                </div>
                                <div class="col-lg-6">
                                    <label class="control-label"> Temporada </label>
                                    @Html.DropDownListFor(m => m.Temporada, Model.Temporadas, new { @class = "form-control autoComplete" })
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            @Html.BackButton()
                            <button type="submit" class="btn btn-info float-right">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
