@model Campeonato.Aplicacao.GestaoDeRodada.Modelos.ModeloDeListaDeRodadas
@using GridMvc.Html

@{
    ViewBag.Title = "Lista de Rodadas";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                        <li class="breadcrumb-item active">Lista de Rodadas</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form role="form" action="@Url.Action("Index", "Rodada")" method="get">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Buscar Rodadas</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    @Html.InputTextFor(a => a.Filtro.Nome, "Nome", required: false)
                                </div>
                                <div class="col-lg-6">
                                    @Html.InputTextFor(a => a.Filtro.Temporada, "Temporada", required: false)
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label class="control-label"> Ativo </label>
                                @Html.CheckBoxFor(m => m.Filtro.Ativo, new { @class = "checkbox" })
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="@Url.Action("Cadastrar", "Rodada" )" class="btn btn-info float-left">Nova Rodada</a>
                            <button type="submit" class="btn btn-primary float-right">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Lista de Rodadas </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        @Html.Grid(Model.Lista).Columns(colunas =>
                        {
                           colunas.Add(m => m.Nome).Titled("Nome");
                           colunas.Add(m => m.Temporada).Titled("Temporada");
                           colunas.Add(m => m.Ativo).Titled("Ativo");
 
                            colunas.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(
                            m => @<div class="btn-group btn-group-sm"><a href="@Url.Action("Editar", "Rodada", new { id = m.Id })" title="Editar" class="btn btn-info"><i class="fas fa-pencil-alt"></i></a></div>);

                        }).WithPaging(30).Sortable(true).EmptyText("Nenhuma rodada encontrada")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
