@model Cgp.Aplicacao.GestaoDeCrimes.Modelos.ModeloDeListaDeCrimes
@using GridMvc.Html

@{
    ViewBag.Title = "Lista de Crimes";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form role="form" action="@Url.Action("Index", "Crime")" method="get">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Buscar Crimes</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    @Html.InputTextFor(a => a.Filtro.Nome, "Nome", required: false)
                                </div>
                                <div class="col-lg-6">
                                    @Html.InputTextFor(a => a.Filtro.Artigo, "Artigo", required: false)
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label class="control-label"> Ativo </label>
                                @Html.CheckBoxFor(m => m.Filtro.Ativo, new { @class = "checkbox" })
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="@Url.Action("Cadastrar", "Crime" )" class="btn btn-info float-left">Cadastrar Crime</a>
                            <button type="submit" class="btn btn-primary float-right">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@ViewBag.Title</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        @Html.Grid(Model.Lista).Columns(colunas =>
                        {
                           colunas.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(
                           m => @<div class="btn-group btn-group-sm"><a href="@Url.Action("Editar", "Crime", new { id = m.Id })" title="Editar" class="btn btn-info"><i class="fas fa-pencil-alt"></i></a></div>);
                           colunas.Add(m => m.Artigo).Titled("Artigo");
                           colunas.Add(m => m.Nome).Titled("Nome");
                       
                          colunas.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(
                          m => @<div class="custom-control custom-switch left">
                                <input type="checkbox" class="custom-control-input btnAtivarCrime" id="@m.Id" data-id="@m.Id" @(m.Ativo ? "checked" : "")>
                                <label class="custom-control-label" for="@m.Id"> ATIVO</label>
                            </div>);

                        }).WithPaging(30).Sortable(true).EmptyText("Nenhum crime encontrado")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".btnAtivarCrime").click(function () {
            var idCrime = $(this).attr("data-id");
            $.ajax({
                type: 'GET',
                url: '../Crime/AtivarCrime',
                data: 'id=' + idCrime,
                success: function (resultado) {
                    campeonatoGeral.AdicionarMensagemDeSucesso(resultado);
                }
            });
        });
    })
</script>


