@model Cgp.Aplicacao.GestaoDeHistoricoDePassagens.Modelos.ModeloDeListaDeHistoricoDePassagens
@using GridMvc.Html

@{
    ViewBag.Title = "Lista de Passagens";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form id="formBuscar" action="@Url.Action("Index", "HistoricoPassagem")" method="post" enctype="multipart/form-data">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Buscar Histórico de Passagem</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    @Html.InputTextFor(a => a.Filtro.Placa, "Fragmento", required: false, placeholder: "Ex. placa, marca, modelo...")
                                </div>
                                <div class="col-lg-3">
                                    <label class="control-label"> Situação do Caráter </label>
                                    @Html.DropDownListFor(m => m.Filtro.SituacaoDoCarater, Model.Filtro.SituacoesDoCarater, new { @class = "form-control autoComplete" })
                                </div>
                                <div class="col-lg-3">
                                    <a href="#" class="btn btn-block btn-default btnBuscarCidades btnNoFormulario no-load" data-toggle="modal" data-target="#modalBuscarPorCidades"> <i class="fas fa-home"></i> Selecionar Cidades</a>
                                </div>
                                <div class="col-lg-3">
                                    <a href="#" class="btn btn-block btn-default btnBuscarCrimes btnNoFormulario no-load" data-toggle="modal" data-target="#modalBuscarPorCrimes"> <i class="fas fa-gavel"></i> Selecionar Crimes</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary float-right">Buscar</button>
                        </div>
                    </div>

                    <div class="modal fade" id="modalBuscarPorCidades" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Selecionar Cidades <span class="spnTitulo"></span></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card divDados">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                Selecione as cidades desejadas
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                @foreach (var item in Model.Filtro.Cidades)
                                                {
                                                    <div class="col-lg-6">
                                                        <input type="checkbox" class="checkbox checkCidades" name="Filtro.CidadesSelecionadas[]" checked="@item.Selected" value="@item.Value" />
                                                        <label class="control-label" for="@item.Text">@item.Text</label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn btn-primary pull-right btnBuscar">Selecionar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="modalBuscarPorCrimes" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Selecionar Crimes <span class="spnTitulo"></span></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card divDados">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                Selecione os crimes desejados
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                @foreach (var item in Model.Filtro.Crimes)
                                                {
                                                    <div class="col-lg-6">
                                                        <input type="checkbox" class="checkbox checkCrimes" name="Filtro.CrimesSelecionados[]" checked="@item.Selected" value="@item.Value" />
                                                        <label class="control-label" for="@item.Text">@item.Text</label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn btn-primary pull-right btnBuscarPorCrimes">Selecionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="display: none;">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Mapa das Passagens</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <div class="row divMapa">
                            <div class="col-lg-12">
                                <div id="mapDiv" style="width: 100%; height: 500px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@ViewBag.Title</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        @Html.Grid(Model.Lista).Columns(colunas =>
                        {
                            colunas.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(
                                      m => @<div class="btn-group btn-group-sm"><a href="@Url.Action("Detalhar", "Carater", new { id = m.IdCarater })" title="Visualizar Caráter" class="btn btn-info"><i class="fas fa-search"></i></a></div>);
                            colunas.Add(m => m.DataPassagem).Titled("Data");
                             colunas.Add(m => m.Placa).Titled("Placa");
                             colunas.Add(m => m.Local).Titled("Local").SetWidth(200);
                             colunas.Add(m => m.TipoHistorico).Titled("Tipo");

                             colunas.Add(m => m.Cidade).Titled("Cidade");
                        }).WithPaging(30).Sortable(true).EmptyText("Nenhuma passagem encontrada")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        var map = null;
        
        CarregarMapa("-15.7801", "-47.9292", "Brasília");
              
        function CarregarMapa(lat, long, descricao) {
            if (map != undefined || map != null)
                map.remove();

            map = L.map('mapDiv').setView([lat, long], 13);

            // define os recursos para exibição
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
            }).addTo(map);

            // adiciona um marcador no mapa
            marker = L.marker([lat, long]).addTo(map);

            // adiciona um popup no marcador
            marker.bindPopup(descricao).openPopup();
        }

        function AdicionarMarcador(lat, long, descricao) {
            if (map != undefined || map != null) {
                marker = L.marker([lat, long]).addTo(map);

                // adiciona um popup no marcador
                marker.bindPopup(descricao).openPopup();
            }
        }


        $(".btnBuscarCidades").button().click(function () {
            var form = $("#modalBuscarPorCidades");
            form.modal('show');
        });

        $(".btnBuscar").button().click(function () {
            $(this).prop("disabled", true);
            $("#formBuscar").submit();
        });

        $(".btnBuscarCrimes").button().click(function () {
            var form = $("#modalBuscarPorCrimes");
            form.modal('show');
        });

        $(".btnBuscarPorCrimes").button().click(function () {
            $(this).prop("disabled", true);
            $("#formBuscar").submit();
        });
    })
</script>