@model Cgp.Aplicacao.GestaoDeCaraters.Modelos.ModeloDeEdicaoDeCarater

@{
    ViewBag.Title = "Detalhar Caráter";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form role="form" action="@Url.Action("Editar", "Carater")" method="post">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">@ViewBag.Title</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-sm-12 col-lg-12">
                                    <div class="small-box bg-default">
                                        <div class="inner">
                                            <p2>
                                                <span style="font-size: 26pt; font-weight: bold;">@Model.Placa @Model.UfVeiculo</span> <span style="font-size: 18pt">
                                                    @Model.MarcaVeiculo @Model.ModeloVeiculo @Model.CorVeiculo
                                                    @if (!String.IsNullOrEmpty(Model.ChassiVeiculo))
                                                    {<span>(@Model.ChassiVeiculo)</span>}
                                                </span>
                                            </p2>

                                            @if (Model.RealizouBaixa)
                                            {<span style='font-size: 16pt' class='badge bg-warning'>Veículo localizado.</span>}

                                            <p style="font-size: 16pt; margin-bottom: 0px !important;"> <span class="@Model.CssTipoCrime">@Model.NomeCrime </span> no dia  @Model.Data</p>
                                            <p style="font-size: 16pt; margin-bottom: 0px !important;">@Model.NomeCidade @Model.ComplementoEndereco</p>
                                            <p style="font-size: 16pt; margin-bottom: 0px !important;">@Model.Descricao</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-lg-6">
                                    <label> @Model.UsuarioCadastro </label>
                                </div>
                            </div>
                            <hr />
                            @if (Model.Fotos.Count > 0)
                            {
                                <div class="row">
                                    <div class="col-12 product-image-thumbs">
                                        @foreach (var item in Model.Fotos)
                                        {
                                            <div class="product-image-thumb">
                                                <img src="@item.Caminho" alt="@item.Descricao" data-id="@item.Id" class="fotoCarater">
                                            </div>
                                        }
                                    </div>
                                </div>
                                <hr />
                            }
                            @if (Model.RealizouBaixa)
                            {
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="comment-text">
                                                <span class="username">@Model.UsuarioLocalizacao.</span> <br />
                                                @Model.DescricaoLocalizacao - Na cidade de @Model.CidadeLocalizacao.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="card-footer">
                            @Html.BackButton() &nbsp;
                            @if (!Model.RealizouBaixa)
                            {
                                <a href="#" class="btn btn-default btnAbrirBaixa" data-id="@Model.Id"> <i class="fas fa-arrow-alt-circle-down"></i> Realizar Baixa </a>
                                <a href="@Url.Action("Editar", "Carater", new { id = Model.Id })" class="btn btn-info float-right"> <i class="fas fa-car-alt"></i> Editar Caráter </a>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <section class="content-header">
                                <h2>
                                    <i class="fa fa fa-history"> </i>
                                    Histórico do Caráter
                                    <small>linha do tempo do caráter</small>
                                </h2>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <section class="content">
                                @{
                                    var contador = 0;
                                    var data = "";

                                    <ul class="timeline">

                                        @foreach (var historico in Model.HistoricosDeCaraters)
                                        {
                                            if (contador == 0)
                                            {
                                                data = historico.DataDoCadastro;

                                                <li class="time-label">
                                                    <span class="bg-green">
                                                        @data
                                                    </span>
                                                </li>
                                            }

                                            if (data != historico.DataDoCadastro)
                                            {
                                                data = historico.DataDoCadastro;
                                                <li class="time-label">
                                                    <span class="bg-green">
                                                        @data
                                                    </span>
                                                </li>
                                            }

                                            <li>
                                                <i class="@historico.IconeDoTipo"></i>
                                                <div class="timeline-item">
                                                    <span class="time"><i class="fas fa-clock"></i> @historico.TempoDecorrido</span>

                                                    <h3 class="timeline-header"><span style="font-weight: bold;">@historico.Usuario</span> @Html.Raw(historico.Titulo) </h3>

                                                    <div class="timeline-body">
                                                        @if (historico.ExibeBotao || historico.ExibeDescricao)
                                                        {
                                                            @Html.Raw(historico.Descricao)
                                                        }

                                                        @if (historico.TipoDeHistoricoDeCarater == Cgp.Dominio.ObjetosDeValor.TipoDeHistoricoDeCarater.Foto)
                                                        {
                                                            <div class="product-image-thumb">
                                                                <img src="@historico.UrlFoto" alt="" data-id="@historico.IdEntidade" class="fotoCarater">
                                                            </div>
                                                        }
                                                    </div>

                                                    @if (historico.ExibeBotao)
                                                    {
                                                        <div class="timeline-footer">
                                                            <a class="btn btn-default btn-xs buscaHistorico no-load" data-id="@historico.Id">Visualizar</a>
                                                        </div>
                                                    }
                                                </div>
                                            </li>

                                            contador++;
                                        }

                                        <li>
                                            <i class="fas fa-clock bg-gray"></i>
                                        </li>
                                    </ul>
                                    <br />
                                }
                            </section>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_RealizarBaixa")
@Html.Partial("_VisualizarFoto")

<script>
    $(function () {

        $(".btnAbrirBaixa").button().click(function () {
            var idCarater = $(this).attr("data-id");
            $(".IdCaraterSelecionado").val(idCarater);
            var form = $("#modalRealizarBaixa");
            form.modal('show');
        });

        $(".fotoCarater").button().click(function () {
            var url = $(this).attr("src");
            var descricao = $(this).attr("alt");
            var idFoto = $(this).attr("data-id");

            $(".imgFoto").attr("src", url);
            $(".lblDescricao").html(descricao);
            $(".idFoto").val(idFoto);
            var form = $("#modalVisualizarFoto");
            form.modal('show');
        });

        $(".btnExcluirFoto").button().click(function () {
            var idFoto = $(".idFoto").val();

            $.ajax({
                type: 'GET',
                url: '/Carater/ExcluirFoto',
                data: 'id=' + idFoto,
                beforeSend: function () {
                    $.blockUI({ message: "<div style='color: white'> <i class='fa fa-spinner fa-pulse fa-3x'></i> </div>", css: { border: '0px', backgroundColor: 'none' } });
                },
                success: function (resultado) {
                    $.unblockUI();
                    campeonatoGeral.AdicionarMensagemDeSucesso(resultado.Status);
                    document.location.reload(true);
                }
            });
        });

        $(".btnRealizarBaixa").button().click(function () {
            var idCarater = $(".IdCaraterSelecionado").val();
            var descricao = $(".txtDescricao").val();
            var cidade = $("#CidadeLocalizacao").select2('val');

            if (cidade == "")
                campeonatoGeral.AdicionarMensagemDeErro("Selecione a cidade");
            else {
                $.ajax({
                    type: 'GET',
                    url: '/Carater/RealizarBaixa',
                    data: 'idCarater=' + idCarater + "&descricao=" + descricao + "&cidade=" + cidade,
                    success: function (resultado) {
                        campeonatoGeral.AdicionarMensagemDeSucesso(resultado);
                        window.location.assign(idCarater);
                    }
                });
            }
        });
    })
</script>