@model Cgp.Aplicacao.GestaoDeCaraters.Modelos.ModeloDeEdicaoDeCarater

@{
    ViewBag.Title = "Detalhar Caráter";
}

@{ var cssMobile = this.Request.Browser.IsMobileDevice ? "btn-block" : "";} 
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form role="form" action="@Url.Action("Editar", "Carater")" method="post">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">@ViewBag.Title</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            @if (Model.Excluido) {
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <h4 class="alert-heading">ATENÇÃO!</h4>
                                            <i class="fas fa-exclamation-triangle"></i> Este caráter foi excluído.
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            }
                            <div class="row">
                                <div class="col-12">
                                    <ul class="nav nav-tabs" id="tabDados" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="custom-tabs-three-home-tab" data-toggle="pill" href="#divDadosCarater" role="tab" aria-controls="custom-tabs-three-home" aria-selected="true">Caráter</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#divDadosVeiculo" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Veículo</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="custom-tabs-three-profile-tab" data-toggle="pill" href="#divDadosProprietario" role="tab" aria-controls="custom-tabs-three-profile" aria-selected="false">Proprietário</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="tabDadosContent">
                                        <div class="tab-pane fade show active" id="divDadosCarater" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
                                            <div class="row">
                                                <div class="col-sm-12 col-lg-12">
                                                    <div class="small-box bg-default">
                                                        <div class="inner">
                                                            <p2>
                                                                <span style="font-size: 26pt; font-weight: bold;">
                                                                    @Model.Placa @Model.UfVeiculo
                                                                </span> <span style="font-size: 18pt">
                                                                    @Model.MarcaVeiculo @Model.ModeloVeiculo @Model.CorVeiculo @Model.AnoVeiculo
                                                                    @if (!String.IsNullOrEmpty(Model.ChassiVeiculoTratado))
                                                                    {<span>(@Model.ChassiVeiculoTratado)</span>}
                                                                    @if (Model.SeloAtenas)
                                                                    {<img src="~/Content/images/seloAtenas.png" alt="selo atenas" title="Este Caráter foi validado pelo Atenas." style="width: 50px;" />}
                                                                </span>
                                                            </p2>

                                                            @if (Model.RealizouBaixa)
                                                            {<span style='font-size: 16pt' class='badge bg-warning'>Veículo localizado.</span>}

                                                            <p style="font-size: 16pt; margin-bottom: 0px !important;"> <span class="@Model.CssTipoCrime">@Model.NomeCrime </span> no dia  @Model.Data</p>
                                                            <p style="font-size: 16pt; margin-bottom: 0px !important;">@Model.NomeCidade @Model.ComplementoEnderecoTradado</p>
                                                            <p style="font-size: 16pt; margin-bottom: 0px !important;">@Model.Descricao</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="divDadosVeiculo" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                                            <div class="row">
                                                <div class="col-sm-12 col-lg-12">
                                                    <div class="small-box bg-default">
                                                        <div class="inner" style="text-align: left;">
                                                            <div class="form-group row mb-1">
                                                                <label for="Placa" class="col-sm-2 col-form-label">Placa:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.Placa, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="MarcaVeiculo" class="col-sm-2 col-form-label">Marca:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.MarcaVeiculo, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="ModeloVeiculo" class="col-sm-2 col-form-label">Modelo:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.ModeloVeiculo, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="AnoVeiculo" class="col-sm-2 col-form-label">Ano/Modelo:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.AnoVeiculo, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="CorVeiculo" class="col-sm-2 col-form-label">Cor:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.CorVeiculo, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="MunicipioVeiculo" class="col-sm-2 col-form-label">Município:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.MunicipioVeiculo, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="Renavam" class="col-sm-2 col-form-label">Renavam:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.Renavam, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="ChassiVeiculo" class="col-sm-2 col-form-label">Chassi:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.ChassiVeiculo, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="Motor" class="col-sm-2 col-form-label">N. Motor:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.Motor, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="UltimoCRV" class="col-sm-2 col-form-label">Último CRV:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.UltimoCRV, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="AtualizacaoVeiculo" class="col-sm-2 col-form-label">Atualiação:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.AtualizacaoVeiculo, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="Situacao" class="col-sm-2 col-form-label">Situação:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.Situacao, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="divDadosProprietario" role="tabpanel" aria-labelledby="custom-tabs-three-profile-tab">
                                            <div class="row">
                                                <div class="col-sm-12 col-lg-12">
                                                    <div class="small-box bg-default">
                                                        <div class="inner" style="text-align: left;">
                                                            <div class="form-group row mb-1">
                                                                <label for="Placa" class="col-sm-2 col-form-label">PROPRIETÁRIO</label>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="Proprietario.Nome" class="col-sm-2 col-form-label">Nome:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.Proprietario.Nome, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="Proprietario.Documento" class="col-sm-2 col-form-label">Documento:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.Proprietario.Documento, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="Proprietario.Endereco" class="col-sm-2 col-form-label">Endereço:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.Proprietario.Endereco, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                            <hr />
                                                            <div class="form-group row mb-1">
                                                                <label for="Placa" class="col-sm-2 col-form-label">POSSUIDOR</label>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="Possuidor.Nome" class="col-sm-2 col-form-label">Nome:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.Possuidor.Nome, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="Possuidor.Documento" class="col-sm-2 col-form-label">Documento:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.Possuidor.Documento, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                            <div class="form-group row mb-1">
                                                                <label for="Possuidor.Endereco" class="col-sm-2 col-form-label">Endereço:</label>
                                                                <div class="col-sm-10">
                                                                    @Html.InputTextFor(a => a.Possuidor.Endereco, @readonly: true, exibeTitulo: false)
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                            <hr />
                            <div class="row">
                                <div class="col-lg-6">
                                    <label> @Model.UsuarioCadastro </label>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        <h4 class="alert-heading">ATENÇÃO!</h4>
                                        <i class="fas fa-exclamation-triangle"></i> É proibida a divulgação de qualquer imagem contida no Caráter Geral.
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            @if (Model.Fotos != null)
                            {
                                if (Model.Fotos.Count > 0)
                                {
                                    <div class="row">
                                        <div class="col-12 product-image-thumbs">
                                            @foreach (var item in Model.Fotos)
                                            {
                                                <div class="product-image-thumb">
                                                    <img src="@item.Caminho" alt="@item.Descricao" data-id="@item.Id" class="fotoCarater">
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <hr />
                                }
                            }
                            @if (Model.RealizouBaixa)
                            {
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="comment-text">
                                                <span class="username">@Model.UsuarioLocalizacao.</span> <br />
                                                @Model.DescricaoLocalizacao @Model.CidadeLocalizacao
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-lg-2">
                                    @Html.BackButton() &nbsp;
                                </div>
                                @if (!Model.RealizouBaixa && !Model.Excluido)
                                {
                                    <div class="col-lg-10  col-sm-12">
                                        <a href="#" class="btn btn-default @cssMobile btnAbrirBaixa" data-id="@Model.Id"> <i class="fas fa-arrow-alt-circle-down"></i> Realizar Baixa </a>
                                        <a href="#" class="btn btn-default @cssMobile btnAbrirCadastroHistorico" data-id="@Model.Id"> <i class="fas fa-history"></i> Adicionar Histórico </a>
                                        <a href="#" class="btn btn-default @cssMobile btnAbrirCadastroHistoricoPassagem" data-id="@Model.Id"> <i class="fas fa-car-side"></i> Adicionar Passagem </a>
                                        @if (User.EhAtenas() || User.EhAdministrador())
                                        {<a href="#" class="btn btn-danger @cssMobile btnExcluirCarater" data-id="@Model.Id"> <i class="fas fa-times"></i> Excluir Carater </a>}
                                        <a href="@Url.Action("Editar", "Carater", new { id = Model.Id })" class="btn btn-info @cssMobile float-right"> <i class="fas fa-car-alt"></i> Editar Caráter </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Histórico de Passagens</h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body table-responsive p-0">
                                    @Html.Grid(Model.HistoricosDePassagens).Columns(colunas =>
                                    {
                                        colunas.Add().Encoded(false).Sanitized(false).Css("text-center").SetWidth(30).RenderValueAs(
                                        m => @<div class="btn-group btn-group-sm"><a href="#" data-toggle="modal" data-target="#modalVisualizarHistoricoDaPassagem" class="btn btn-info no-load buscaHistoricoDePassagem" data-id="@m.Id" title="Visualizar Histórico"> <i class="fas fa-search"></i></a></div>);

                                        if (User.EhAtenas() || User.EhAdministrador())
                                        {
                                            colunas.Add().Encoded(false).Sanitized(false).Css("text-center").SetWidth(30).RenderValueAs(
                                            m => @<div class="btn-group btn-group-sm"><a href="#" data-toggle="modal" class="btn btn-info no-load btnExcluirHistoricoPassagem" 
                                            data-id="@Model.Id" data-idHistorico="@m.Id" title="Excluir Histórico"> <i class="fas fa-times"></i> </a></div>);
                                        }

                                        colunas.Add(m => m.DataPassagem).Titled("Data Passagem");
                                        colunas.Add(m => m.Local).Titled("Local");

                                    }).WithPaging(30).Sortable(true).EmptyText("Nenhuma passagem cadastrada")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <section class="content-header">
                                <h2>
                                    <i class="fa fa fa-history"> </i>
                                    Histórico do Caráter
                                    <small>linha do tempo do caráter</small>
                                </h2>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <section class="content">
                                @{
                                    var contador = 0;
                                    var data = "";

                                    <ul class="timeline">

                                        @foreach (var historico in Model.HistoricosDeCaraters)
                                        {
                                            if (contador == 0)
                                            {
                                                data = historico.DataDoCadastro;

                                                <li class="time-label">
                                                    <span class="bg-green">
                                                        @data
                                                    </span>
                                                </li>
                                            }

                                            if (data != historico.DataDoCadastro)
                                            {
                                                data = historico.DataDoCadastro;
                                                <li class="time-label">
                                                    <span class="bg-green">
                                                        @data
                                                    </span>
                                                </li>
                                            }

                                            <li>
                                                <i class="@historico.IconeDoTipo"></i>
                                                <div class="timeline-item">
                                                    <span class="time"><i class="fas fa-clock"></i> @historico.TempoDecorrido</span>

                                                    <h3 class="timeline-header"><span style="font-weight: bold;">@historico.Usuario</span> @Html.Raw(historico.Titulo) </h3>

                                                    <div class="timeline-body">
                                                        @if (historico.ExibeBotao || historico.ExibeDescricao)
                                                        {
                                                            @Html.Raw(historico.Descricao)
                                                        }

                                                        @if (historico.TipoDeHistoricoDeCarater == Cgp.Dominio.ObjetosDeValor.TipoDeHistoricoDeCarater.Foto)
                                                        {
                                                            <div class="product-image-thumb">
                                                                <img src="@historico.UrlFoto" alt="" data-id="@historico.IdEntidade" class="fotoCarater">
                                                            </div>
                                                        }
                                                    </div>

                                                    @if (historico.ExibeBotao && (User.EhAtenas() || User.EhAdministrador()))
                                                    {
                                                        <div class="timeline-footer">  
                                                            <button type='button' class='btn btn-xs btn-danger btnExcluirHistorico' title="Excluir Histórico?" data-id="@historico.IdEntidade"  data-idHistorico="@historico.Id" value="@historico.IdEntidade"> <i class='fa fa-check'> </i> &nbsp; Excluir </button>
                                                        </div>
                                                    }
                                                </div>
                                            </li>
                                            contador++;
                                        }

                                        <li>
                                            <i class="fas fa-clock bg-gray"></i>
                                        </li>
                                    </ul>
                                    <br />
                                }
                            </section>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_RealizarBaixa")
@Html.Partial("_VisualizarFoto")
@Html.Partial("_VisualizarHistorico")
@Html.Partial("_AdicionarHistoricoPassagem", Model)
@Html.Partial("_AdicionarHistorico")
@Html.Partial("_Confirmacao")

<script>
    $(function () {

        $(document).ready(function () {
            $(".autoComplete").select2({ width: '100%' });   
        });

        var map = null;
        var latitude;
        var longitude;
        var descricao;

        $(function () {
            
            $("#modalVisualizarHistoricoPassagem").on('shown.bs.modal', function () {
                if (latitude != null)
                    CarregarMapa();
            });
        });

        function CarregarMapa() {
            if (map != undefined || map != null)
                map.remove();
            
            map = L.map('mapDiv').setView([latitude, longitude], 13);

            // define os recursos para exibição
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
            }).addTo(map);

            // adiciona um marcador no mapa
            marker = L.marker([latitude, longitude]).addTo(map);

            // adiciona um popup no marcador
            marker.bindPopup(descricao).openPopup();
        }

        $('#data').datepicker({
            language: "pt-BR", autoclose: true,
            zIndexOffset: 99999999
        });

        $(".btnAbrirBaixa").button().click(function () {
            var idCarater = $(this).attr("data-id");
            $(".IdCaraterSelecionado").val(idCarater);
            var form = $("#modalRealizarBaixa");
            form.modal('show');
        });

        $(".btnAbrirCadastroHistoricoPassagem").button().click(function () {
            var idCarater = $(this).attr("data-id");
            $(".Id").val(idCarater);
            var form = $("#modalCadastrarHistoricoPassagem");
            form.modal('show');
        });

        $(".btnAbrirCadastroHistorico").button().click(function () {
            var idCarater = $(this).attr("data-id");
            $(".Id").val(idCarater);
            var form = $("#modalCadastrarHistorico");
            form.modal('show');
        });

        $(".fotoCarater").button().click(function () {
            var url = $(this).attr("src");
            var descricao = $(this).attr("alt");
            var idFoto = $(this).attr("data-id");

            $(".imgFoto").attr("src", url);
            $(".lblDescricao").html(descricao);
            $(".idFoto").val(idFoto);
            $(".containerImagem").show();
            var form = $("#modalVisualizarFoto");
            form.modal('show');
        });

        $(".btnExcluirFoto").button().click(function () {
            var idFoto = $(".idFoto").val();

            $.ajax({
                type: 'GET',
                url: '/Carater/ExcluirFoto',
                data: 'id=' + idFoto,
                beforeSend: function () {
                    $.blockUI({ message: "<div style='color: white'> <i class='fa fa-spinner fa-pulse fa-3x'></i> </div>", css: { border: '0px', backgroundColor: 'none' } });
                },
                success: function (resultado) {
                    $.unblockUI();
                    campeonatoGeral.AdicionarMensagemDeSucesso(resultado.Status);
                    document.location.reload(true);
                }
            });
        });

        $(".btnRealizarBaixa").button().click(function () {
            var idCarater = $(".IdCaraterSelecionado").val();
            var descricao = $(".txtDescricao").val();
            var cidade = $("#CidadeLocalizacao").select2('val');

            if (cidade == "")
                campeonatoGeral.AdicionarMensagemDeErro("Selecione a cidade");
            else {
                $.ajax({
                    type: 'GET',
                    url: '/Carater/RealizarBaixa',
                    data: 'idCarater=' + idCarater + "&descricao=" + descricao + "&cidade=" + cidade,
                    success: function (resultado) {
                        campeonatoGeral.AdicionarMensagemDeSucesso(resultado);
                        window.location.assign(idCarater);
                    }
                });
            }
        });

        $(".buscaHistoricoDePassagem").button().click(function () {
            var id = $(this).attr("data-id");
            
            $.ajax({
                type: 'GET',
                url: '/Carater/HistoricoDePassagem',
                data: 'id=' + id,
                beforeSend: function (resultado) {
                    $(".divCarrega").show();
                    $(".divDados").hide();
                },
                success: function (resultado) {
                    $(".divDados").show();
                    $(".divCarrega").hide();
                    
                    var form = $("#modalVisualizarHistoricoPassagem");
                    form.modal('show');

                    if (resultado.historico.Arquivo != null) {
                        $(".containerImagem").show();
                        $(".spnCPF").show();
                        $(".imgFoto").attr('src', resultado.historico.Arquivo);
                    } else {
                        $(".containerImagem").hide();
                        $(".spnCPF").hide();
                    }
                    $(".spnDataHora").html(resultado.historico.DataPassagem);
                    $(".spnLocal").html(resultado.historico.Local);

                    if (resultado.historico.TemLatLong)
                        $(".divMapa").show();
                    else
                        $(".divMapa").hide();

                    latitude = resultado.historico.Latitude;
                    longitude = resultado.historico.Longitude;
                    descricao = resultado.historico.LocalParaMapa;                   
                }
            });
        });

        $(".btnExcluirCarater").button().click(function () {
            var idCarater = $(this).attr("data-id");
            $(".Id").val(idCarater);
            
            $("#formExcluirHistorico").attr("action", "../ExcluirCarater");
            $(".spnTextoConfirmacao").html("Tem certeza que deseja excluir o caráter?");

            var form = $("#modalExcluirHistorico");
            form.modal('show');
        });

        $(".btnExcluirHistoricoPassagem").button().click(function () {
            var idCarater = $(this).attr("data-id");
            var idHistorico = $(this).attr("data-idHistorico");

            $(".Id").val(idCarater);
            $(".IdHistorico").val(idHistorico);

            $("#formExcluirHistorico").attr("action", "../ExcluirHistoricoPassagem");
            $(".spnTextoConfirmacao").html("Tem certeza que deseja excluir o histórico de passagem?");

            var form = $("#modalExcluirHistorico");
            form.modal('show');
        });

        $(".btnExcluirHistorico").button().click(function () {
            var idCarater = $(this).attr("data-id");
            var idHistorico = $(this).attr("data-idHistorico");

            $(".Id").val(idCarater);
            $(".IdHistorico").val(idHistorico);

            $("#formExcluirHistorico").attr("action", "../ExcluirHistorico");
            $(".spnTextoConfirmacao").html("Tem certeza que deseja excluir o histórico?");

            var form = $("#modalExcluirHistorico");
            form.modal('show');
        });
    })
</script>