@model Cgp.Aplicacao.GestaoDeCaraters.Modelos.ModeloDeListaDeCaraters
@using GridMvc.Html

@{
    ViewBag.Title = "Lista de Caráter Geral";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form id="formBuscar" action="@Url.Action("Index", "Carater")" method="post" enctype="multipart/form-data" data-bloquear-tela="nao">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Buscar Caráter</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2">
                                    @Html.InputTextFor(a => a.Filtro.Placa, "Fragmento", required: false, placeholder:"Ex. placa, marca, modelo...")
                                </div>
                                <div class="col-lg-2">
                                    <label class="control-label"> Data Início </label>
                                    <input type="text" class="form-control mascaraData" id="dataInicio" name="Filtro.DataInicio" value="@Model.Filtro.DataInicio">
                                </div>
                                <div class="col-lg-2">
                                    <label class="control-label"> Data Fim </label>
                                    <input type="text" class="form-control mascaraData" id="dataFim" name="Filtro.DataFim" value="@Model.Filtro.DataFim">
                                </div>
                                <div class="col-lg-2">
                                    <label class="control-label"> Situação do Caráter </label>
                                    @Html.DropDownListFor(m => m.Filtro.SituacaoDoCarater, Model.Filtro.SituacoesDoCarater, new { @class = "form-control autoComplete" })
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" class="btn btn-block btn-default btnBuscarCidades btnNoFormulario no-load" data-toggle="modal" data-target="#modalBuscarPorCidades"> <i class="fas fa-home"></i> Selecionar Cidades</a>
                                </div>
                                <div class="col-lg-2">
                                    <a href="#" class="btn btn-block btn-default btnBuscarCrimes btnNoFormulario no-load" data-toggle="modal" data-target="#modalBuscarPorCrimes"> <i class="fas fa-gavel"></i> Selecionar Crimes</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a href="@Url.Action("Cadastrar", "Carater" )" class="btn btn-info"> <i class="fas fa-car-alt"></i> Novo Caráter </a> &nbsp;
                            <button type="submit" class="btn btn-primary float-right">Buscar</button>
                            <button type='submit' class='btn btn-warning no-load' name="exportar" value="imprimir"> <i class='fa fa-file-pdf'> </i> &nbsp; Imprimir </button>
                            
                        </div>
                    </div>

                    <div class="modal fade" id="modalBuscarPorCidades" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Selecionar Cidades <span class="spnTitulo"></span></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card divDados">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                Selecione as cidades desejadas
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                @foreach (var item in Model.Filtro.Cidades)
                                                {
                                                    <div class="col-lg-6">
                                                        <input type="checkbox" class="checkbox checkCidades" name="Filtro.CidadesSelecionadas[]" checked="@item.Selected" value="@item.Value" />
                                                        <label class="control-label" for="@item.Text">@item.Text</label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn btn-primary pull-right btnBuscar no-load">Selecionar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="modalBuscarPorCrimes" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Selecionar Crimes <span class="spnTitulo"></span></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card divDados">
                                        <div class="card-header">
                                            <h3 class="card-title">
                                                Selecione os crimes desejados
                                            </h3>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                @foreach (var item in Model.Filtro.Crimes)
                                                {
                                                    <div class="col-lg-6">
                                                        <input type="checkbox" class="checkbox checkCrimes" name="Filtro.CrimesSelecionados[]" checked="@item.Selected" value="@item.Value" />
                                                        <label class="control-label" for="@item.Text">@item.Text</label>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn btn-primary pull-right btnBuscarPorCrimes no-load">Selecionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">@ViewBag.Title</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        @Html.Grid(Model.Lista).Columns(colunas =>
                        {
                           colunas.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(
                           m => @<div class="btn-group btn-group-sm"><a href="@Url.Action("Detalhar", "Carater", new { id = m.Id })" title="Visualizar Caráter" class="btn btn-info"><i class="fas fa-search"></i></a></div>);
                            colunas.Add(m => m.PlacaVeiculo).Titled("Placa");
                            colunas.Add(m => m.NomeVeiculo).Titled("Veículo");
                            colunas.Add(m => m.CorVeiculo).Titled("Cor");
                            colunas.Add(m => m.AnoVeiculo).Titled("Ano");
                            colunas.Add(m => m.NomeCrime).Titled("Crime");
                            colunas.Add(m => m.NomeCidade).Titled("Cidade");
                            colunas.Add(m => m.DataDoFato).Titled("Data do Fato");
                            colunas.Add(m => m.SituacaoDoCarater).Titled("Situação");

                            colunas.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(
                            m => m.SeloAtenas ? "<img style='max-width: 30px;' src='../Content/images/seloAtenas.png' title='Este Caráter foi validado pelo Atenas.'/>" : "");  

                            }).WithPaging(30).Sortable(true).EmptyText("Nenhum caráter encontrado")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {

        $(".btnBuscarCidades").button().click(function () {
            var form = $("#modalBuscarPorCidades");
            form.modal('show');
        });

        $(".btnBuscar").button().click(function () {
            $(this).prop("disabled", true);
            $("#formBuscar").submit();
        });

        $(".btnBuscarCrimes").button().click(function () {
            var form = $("#modalBuscarPorCrimes");
            form.modal('show');
        });

        $(".btnBuscarPorCrimes").button().click(function () {
            $(this).prop("disabled", true);
            $("#formBuscar").submit();
        });
    })
</script>