@model Cgp.Aplicacao.GestaoDeUsuarios.Modelos.ModeloDeEdicaoDeUsuario

@{
    ViewBag.Title = "Meus Dados";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Meus Dados </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form role="form" action="@Url.Action("MeusDados", "Usuario")" method="post">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Editar meus dados</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    @Html.InputTextFor(a => a.Nome, "Nome", required: false)
                                </div>
                                <div class="col-lg-4">
                                    @Html.InputTextFor(a => a.Email, "Email", required: false)
                                </div>
                                <div class="col-lg-4">
                                    @Html.InputTextFor(a => a.Matricula, "Matrícula", required: false)
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-1 col-sm-2">
                                    @Html.InputNumberFor(a => a.Ddd, "DDD", required: false)
                                </div>
                                <div class="col-lg-5  col-sm-10">
                                    @Html.InputNumberFor(a => a.Telefone, "Telefone", required: false)
                                </div>
                                <div class="col-lg-6">
                                    <label class="control-label"> Batalhão </label>
                                    @Html.DropDownListFor(m => m.Batalhao, Model.Batalhoes, new { @class = "form-control autoComplete" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <a href="@Url.Action("AlterarSenha", "Usuario", new {id = Model.Id})" class="btn btn-info float-left"> Alterar Senha</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            @Html.BackButton()
                            <button type="submit" class="btn btn-success float-right">Editar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
