@model Cgp.Aplicacao.GestaoDePremiacoes.Modelos.ModeloDeEdicaoDePremiacao

@{
    ViewBag.Title = "Visualizar Premiação";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Premiacao" )">Premiações</a></li>
                        <li class="breadcrumb-item active">Visualizar Premiação</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <form role="form" action="#" method="post">
                    <div class="card">
                        <div class="card-header ">
                            <div class="">
                                <div class="row">
                                    <div class="col-lg-11">
                                        <h3 class="card-title">
                                            Premiação da @Model.NomeRodada
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-success elevation-1"> <i class="fas fa-dollar-sign"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">TOTAL DA RODADA</span>
                                            <span class="info-box-number">R$ @Model.Total</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-warning elevation-1"> <i class="fas fa-dollar-sign"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">ADMINISTRAÇÃO</span>
                                            <span class="info-box-number">R$ @Model.Administracao</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-info  elevation-1"> 1º</span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">@Model.NomePrimeiroColocado</span>
                                            <span class="info-box-number">R$ @Model.PremiacaoPrimeiro</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-info  elevation-1"> 2º</span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">@Model.NomeSegundoColocado</span>
                                            <span class="info-box-number">R$ @Model.PremiacaoSegundo</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-primary elevation-1"> <i class="fas fa-dollar-sign"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">ACUMULADO</span>
                                            <span class="info-box-number">R$ @Model.Acumulado</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <h6>Premiação realizada por @Model.UsuarioQueFechou em @Model.DataHoraFechou.</h6>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            @Html.BackButton()
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>