@model Cgp.Aplicacao.GestaoDeCaraters.Modelos.ModeloDeListaDeCaraters
@{
    ViewBag.Title = "Caráter Gerais";
}
<form action="@Url.Action("Dashboard", "Home")" id="formBuscarCarater" method="post" enctype="multipart/form-data">

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-3">
                        <h1 class="m-0 text-dark">Caráter Geral Policial</h1>
                    </div>
                    <div class="col-lg-3 col-sm-12 col-xs-12 text-center">
                        <a href="#" class="btn btn-block btn-primary btnBuscarCidades btnBotaoTopo" data-toggle="modal" data-target="#modalBuscarPorCidades">Buscar por Cidades</a>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                            <li class="breadcrumb-item active">@ViewBag.Title</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    @foreach (var item in Model.Lista)
                    {
                        <div class="col-sm-12 col-lg-4">
                            <div class="small-box bg-default">
                                <div class="inner">
                                    <h3> @item.PlacaVeiculo </h3>
                                    <sup style="font-size: 20px"> @item.NomeVeiculo @item.CorVeiculo</sup>
                                    <p style="margin-bottom: 0px !important;"> <span class="@item.CssTipoCrime">@item.NomeCrime </span> no dia @item.DataDoCadastro</p>
                                    <p style="margin-bottom: 0px !important;">@item.NomeCidade - @item.ComplementoEndereco</p>
                                    <p style="margin-bottom: 0px !important;">@item.Descricao</p>
                                </div>
                                <a href="@Url.Action("Editar", "Carater", new { id = item.Id })" target="_blank" class="small-box-footer" style="color:black !important; ">Mais informações <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalBuscarPorCidades" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Busca por Cidades <span class="spnTitulo"></span></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div class="card divDados">
                        <div class="card-header">
                            <h3 class="card-title">
                                Selecione as cidades desejadas
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                @foreach (var item in Model.Filtro.Cidades)
                                {
                                    <div class="col-lg-6">
                                        <input type="checkbox" class="checkbox checkCidades" name="Filtro.CidadesSelecionadas[]" checked="@item.Selected" value="@item.Value"  />
                                        <label class="control-label" for="@item.Text">@item.Text</label>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn btn-primary pull-right btnBuscar">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" language="javascript">

    $(function () {
        $(".btnBuscarCidades").button().click(function () {
            var form = $("#modalBuscarPorCidades");
            form.modal('show');
        });

        $(".btnBuscar").button().click(function () {
            $(this).prop("disabled", true);
            $("#formBuscarCarater").submit();
        });

        $(function () {
            setTimeout(function () {
                window.location.reload(1);
            }, 60000); //1 * 60 * 1000
        });

    });

</script>
