@model Cgp.Aplicacao.GestaoDeCaraters.Modelos.ModeloDeListaDeCaraters
@{
    ViewBag.Title = "Caráter Geral";
}
@{ var cssMobile = this.Request.Browser.IsMobileDevice ? "btn-block" : ""; }

<form action="@Url.Action("Dashboard", "Home")" id="formBuscarCarater" method="post" enctype="multipart/form-data">

    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-3">
                        <h1 class="m-0 text-dark">Caráter Geral 72 horas</h1>
                    </div>

                    @if (Request.Browser.IsMobileDevice)
                    {
                        <div class="col-lg-5 col-sm-12 col-xs-12 text-center">
                            <a href="#" class="btn btn-block btn-primary btnBuscarCidades btnBotaoTopo" data-toggle="modal" data-target="#modalBuscarPorCidades"> <i class="fas fa-home"></i> Buscar por Cidades</a>
                            <a href="@Url.Action("Cadastrar", "Carater" )" class="btn btn-block btn-default btnBuscarCidades btnBotaoTopo"> <i class="fas fa-car-alt"></i> Novo Caráter </a>
                        </div>
                    }
                    else
                    {
                        <div class="col-lg-3 col-sm-12 col-xs-12 text-center">
                            <a href="#" class="btn btn-primary btnBuscarCidades btnBotaoTopo" data-toggle="modal" data-target="#modalBuscarPorCidades"> <i class="fas fa-home"></i> Buscar por Cidades</a>
                        </div>
                        <div class="col-lg-2 col-sm-12 col-xs-12 text-center">
                            <a href="@Url.Action("Cadastrar", "Carater" )" class="btn btn-default btnBotaoTopo"> <i class="fas fa-car-alt"></i> Novo Caráter </a>
                        </div>
                    }

                    <div class="col-lg-4 col-sm-12">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                            <li class="breadcrumb-item active">@ViewBag.Title</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2">
                        <input type="text" class="form-control txtBuscar" id="txtBuscar" placeholder="Consultar por placa, marca, modelo, cor." style="width: 300px;" />
                    </div>
                </div>
                <div class="row" id="divDados" style="margin-top: 10px;">
                    @if (Model.Lista.Count > 0)
                    {
                        foreach (var item in Model.Lista)
                        {
                            <div class="col-lg-4 col-sm-12 col-xs-12">
                                <div class="small-box bg-default">
                                    <div class="inner">
                                        <h3> @item.PlacaVeiculo <button type='button' class='btn btn-xs btn-default btnAbrirBaixa right' data-id="@item.Id"> <i class="fas fa-arrow-alt-circle-down"></i> Realizar Baixa </button></h3>
                                        <sup style="font-size: 16pt">
                                            @item.NomeVeiculo @item.CorVeiculo @item.AnoVeiculo @if (item.SeloAtenas)
                                            {<img src="~/Content/images/seloAtenas.png" alt="selo atenas" title="Este Caráter foi validado pelo Atenas." style="width: 30px;" />}
                                        </sup>
                                        <p style="font-size: 14pt; margin-bottom: 0px !important;"> <span class="@item.CssTipoCrime">@item.NomeCrime </span> no dia  @item.DataDoFato</p>
                                        <p style="font-size: 14pt; margin-bottom: 0px !important;">@item.NomeCidade @item.ComplementoEnderecoTradado</p>
                                        <p style="font-size: 14pt; margin-bottom: 0px !important;">@item.Descricao</p>
                                    </div>
                                    <a href="@Url.Action("Detalhar", "Carater", new { id = item.Id })" class="small-box-footer" style="color:black !important; ">Mais informações <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-12">
                            <div class="small-box bg-default">
                                <div class="inner">Nenhum caráter nas últimas 72 horas.</div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row" id="divDadosNovos" style="margin-top: 10px;"></div>
            </div>
        </div>

        <div class="modal-dialog-new hide" id="divAlerta" tabindex="-1" role="dialog" aria-labelledby="trackModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-danger">
                    <div class="modal-header">
                        <h4 class="modal-title">Alerta de Passagem<span class="spnTitulo"></span></h4>
                        <button type="button" class="close btnFecharModal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="divDadosAlerta"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default @cssMobile pull-left btnFecharModal" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-default @cssMobile pull-left btnBaixarAlerta" data-dismiss="modal">Marcar como visto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalBuscarPorCidades" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Busca por Cidades <span class="spnTitulo"></span></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card divDados">
                        <div class="card-header">
                            <h3 class="card-title">
                                Selecione as cidades desejadas
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                @foreach (var item in Model.Filtro.Cidades)
                                {
                                    <div class="col-lg-6">
                                        <input type="checkbox" class="checkbox checkCidades" name="Filtro.CidadesSelecionadas[]" checked="@item.Selected" value="@item.Value" />
                                        <label class="control-label" for="@item.Text">@item.Text</label>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn btn-primary pull-right btnBuscar">Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRealizarBaixa" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Realizar baixa de Caráter <span class="spnTitulo"></span></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <input type="hidden" class="IdCaraterSelecionado" />

                </div>
                <div class="modal-body">
                    <div class="card divDados">
                        <div class="card-header">
                            <h3 class="card-title">
                                Informe os dados da localização
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label class="control-label"> Descrição </label>
                                    <input type="text" class="form-control txtDescricao" />
                                    <br />
                                </div>
                                <div class="col-lg-12">
                                    <label class="control-label"> Cidade </label>
                                    @Html.DropDownListFor(m => m.Filtro.Cidade, Model.Filtro.CidadesLocalizacao, new { @class = "form-control autoComplete ddlModal" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn btn-primary pull-right btnRealizarBaixa"><i class='fa fa-save'> </i> Salvar</button>
                </div>
            </div>
        </div>
    </div>

</form>

<div class="modal fade" id="modalTermoCiencia" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <form role="form" id="formEditarCarater" action="@Url.Action("DarCiencia", "Home")" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Termo de Compromisso <span class="spnTitulo"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="card divDados">
                        <div class="card-header">
                            <h3 class="card-title" style="text-align:center; font-weight: bold;">
                                Termo de Compromisso de Manutenção de Sigilo
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12" style="text-align: justify;">
                                    Eu, <span style="font-weight: bold;">@User.Logado().NomeCompleto</span> , matrícula @User.Matricula(), lotado no @User.Lotacao(), perante o Centro de
                                    Inteligência da Polícia Militar do Distrito Federal –CI/PMDF, declaro haver solicitado inclusão em
                                    grupo de aplicativo de mensagens instantâneas administrado pela Equipe da Operação Atena,
                                    comprometendo-me a: <br>
                                    <br>a) Utilizar o grupo virtual somente por necessidade de serviço, realizando as tarefas e operações, em
                                    estrita observância aos procedimentos, normas e disposições contidas no Plano de Operação;
                                    <br>b) Não revelar fora do âmbito profissional fato ou informação de qualquer natureza de que tenha
                                    conhecimento por força de minha inclusão, salvo em decorrência de decisão competente na esfera
                                    legal ou judicial, bem como de autoridade superior;
                                    <br>c) Manter a necessária cautela quanto ao acesso aos aparelhos utilizados para acesso ao grupo,
                                    quando da exibição de dados em tela e no armazenamento de dados em meios eletrônicos, a fim de
                                    evitar que deles venham a tomar ciência pessoas não autorizadas;
                                    <br>d) Não possibilitar acesso de terceiros às mensagens e informações transmitidas no grupo,
                                    garantindo assim a impossibilidade de acesso indevido;
                                    <br>e) Não revelar a ninguém minha senha de acesso do meu aparelho celular ou computador utilizado
                                    para acessar o grupo e tomar o máximo de cuidado para que ela permaneça somente de meu
                                    conhecimento;
                                    <br>f) Responder, em todas as instâncias, pelas consequências das ações ou omissões de minha parte
                                    que possam pôr em risco ou comprometer a exclusividade de conhecimento ao grupo ou das
                                    informações a que tenha acesso por meio deste;
                                    <br>g) Preservar a integridade, confidencialidade e disponibilidade dos dados e informações contidas no
                                    grupo, devendo comunicar por escrito à Coordenação da Operação, quaisquer indícios ou
                                    possibilidades de irregularidades, de vazamentos ou falhas identificadas no grupo;
                                    <br>h) Não divulgar dados obtidos nos grupos aos quais tenho acesso para outros servidores não
                                    envolvidos nos trabalhos executados;
                                    <br><br>Declaro também que estou ciente da aplicação da Legislação Especial e Comum, sem prejuízo de
                                    outras sanções de natureza disciplinar que possam advir do não cumprimento do presente termo.
                                    Declaro ainda, ter ciência inequívoca da legislação sobre o tratamento de informação classificada
                                    cuja divulgação possa causar risco ou dano à segurança da sociedade ou do Estado, e me
                                    comprometo a guardar o sigilo necessário, nos termos das Leis: Lei nº 12.527, de 18 de novembro de
                                    2011; LEI DISTRITAL Nº 4.990, de 12 de dezembro de 2012; DECRETO DISTRITAL Nº 35.382, de 29 de
                                    abril de 201; Decreto-Lei nº 2.484/40; Portaria PMDF nº 986 de 17 de novembro de 2015
                                    (Recomendações gerais aos Policias Militares do Distrito Federal para o uso da internet e redes
                                    sociais).
                                    <br><br>
                                    Declaro estar de acordo com o presente Termo.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn btn-primary pull-right">Ciente</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" language="javascript">

    $(function () {

        $(document).ready(function () {
            $("#divAlerta").hide();
            
            verificaAlerta();
            verificaCiencia();
        });

        var interval = setInterval(function () {
            verificaAlerta();
        }, 15000/* 15s */);

        function verificaAlerta() {
            var tabela = "";
            $.ajax({
                type: 'GET',
                url: '/Carater/VerificarAlerta',
                success: function (resultado) {
                    $("#divAlerta").show("fast");
                    if (resultado.resultado.length > 0) {
                        tabela += "<div class='row'>";
                        $(resultado.resultado).each(function () {
                            var item = $(this);
                            tabela += "<div class='col-sm-12 col-lg-12'>";
                            tabela += "<div class='small-box bg-default'> ";
                            tabela += "<div class='row'> <div <div class='col-lg-4'><img class='imagemAlerta' src='" + item[0].Arquivo + "' style='' alt='Imagem veículo' /> </div>";
                            tabela += "<div class='col-lg-8'><h3>" + item[0].Placa + "</h3>";
                            tabela += "<sup style='font-size: 16pt'>" + item[0].Local + " </sup><br>";
                            tabela += "<sup style='font-size: 12pt'>" + item[0].DataPassagem + " </sup>";
                            tabela += "</div></div>" + "<a href='../Carater/Detalhar/" + item[0].IdCarater + "' target='_blank' class='small-box-footer'> Visualizar <i class='fas fa-search'></i></a>";
                            tabela += "</div></div></div>";
                        });
                        tabela += "</div></div>";
                        $("#divDadosAlerta").html(tabela).show();

                    } else {
                        $("#divDadosAlerta").html("").hide();
                        $("#divAlerta").hide();
                    }
                }
            });
        }

        function verificaCiencia() {
            $.ajax({
                type: 'GET',
                url: '/Home/VerificarCiencia',
                success: function (resultado) {
                    debugger;
                    if (resultado.resultado == true) {
                        $("#modalTermoCiencia").hide();
                    } else {
                        $("#modalTermoCiencia").modal().show("fast");
                    }
                }
            });
        }

        $(".btnFecharModal").button().click(function () {
            $("#divAlerta").hide();
        });

        $(".btnBaixarAlerta").button().click(function () {
            $.ajax({
                type: 'GET',
                url: '../Carater/BaixarAlertaUsuario',
                success: function (resultado) {
                    campeonatoGeral.AdicionarMensagemDeSucesso(resultado.retorno);
                    verificaAlerta();
                }
            });
        });

        $(".btnBuscarCidades").button().click(function () {
            var form = $("#modalBuscarPorCidades");
            form.modal('show');
        });

        $(".btnBuscar").button().click(function () {
            $(this).prop("disabled", true);
            $("#formBuscarCarater").submit();
        });

        $(function () {
            setTimeout(function () {
                $("#formBuscarCarater").submit();
            }, 60000); //1 * 60 * 1000
        });

        function abrirBaixa(idCarater) {
            $(".IdCaraterSelecionado").val(idCarater);
            var form = $("#modalRealizarBaixa");
            form.modal('show');
        }

        $(".txtBuscar").keyup(function () {
            var placa = $(this).val();
            var divDados = $("#divDados");
            var tabela = "";
            if (placa.length > 2) {
                $.ajax({
                    type: 'GET',
                    url: '../Carater/BuscarCaraterPorPlaca',
                    data: 'placa=' + placa,
                    beforeSend: function (resultado) {
                        $.blockUI({ message: "<div style='color: white'> <i class='fa fa-spinner fa-pulse fa-3x'></i> </div>", css: { border: '0px', backgroundColor: 'none' } });
                    },
                    success: function (resultado) {
                        $.unblockUI();
                        if (resultado.Lista != undefined) {

                            if (resultado.Lista.length > 0) {
                                $(resultado.Lista).each(function () {
                                    divDados.hide();

                                    var item = $(this);
                                    tabela += "<div class='col-sm-12 col-lg-4'>";
                                    tabela += "<div class='small-box bg-default'> <div class='inner'>";

                                    tabela += "<h3>" + item[0].PlacaVeiculo;
                                    if (!item[0].VeiculoLocalizado) tabela += "<a type='button' class='btn btn-xs btn-default' href='../Carater/Detalhar/" + item[0].Id + "'> <i class='fas fa-arrow-alt-circle-down'></i> Realizar Baixa </a>";
                                    tabela += "</h3>";
                                    tabela += "<sup style='font-size: 16pt'>" + item[0].NomeVeiculo + item[0].CorVeiculo;
                                    if (item[0].SeloAtenas) tabela += "<img src='../Content/images/seloAtenas.png' alt='selo atenas' title='Este Caráter foi validado pelo Atenas.' style='width: 30px;' />"
                                    tabela += " </sup>";
                                    if (item[0].VeiculoLocalizado) tabela += "<sup style='font-size: 16pt' class='badge bg-warning'>Veículo localizado.</sup>";
                                    tabela += "<p style='font-size: 14pt; margin-bottom: 0px !important;'> <span class='" + item[0].CssTipoCrime + "'>" + item[0].NomeCrime + "</span> no dia " + item[0].DataDoFato + "</p>";
                                    tabela += "<p style='font-size: 14pt; margin-bottom: 0px !important;'>" + item[0].NomeCidade + " - " + item[0].ComplementoEndereco + "</p>";
                                    tabela += "<p style='font-size: 14pt; margin-bottom: 0px !important;'>" + item[0].Descricao + "</p>";
                                    tabela += "</div>" + "<a href='../Carater/Detalhar/" + item[0].Id + "' target='_blank' class='small-box-footer' style='color:black !important; '>Mais informações <i class='fas fa-arrow-circle-right'></i></a>";
                                    tabela += "</div></div>";

                                });
                                $("#divDadosNovos").html(tabela).show();
                            } else {
                                campeonatoGeral.AdicionarMensagemDeErro("Veículo não encontrado na lista.");
                                divDados.show();
                                $("#divDadosNovos").html("").hide();
                            }
                        } else {
                            divDados.show();
                            campeonatoGeral.AdicionarMensagemDeErro("Veículo não encontrado.");
                        }
                    }
                });
            } else {
                divDados.show();
                $("#divDadosNovos").html("").hide();
            }
        });

        $(".btnAbrirBaixa").button().click(function () {
            var idCarater = $(this).attr("data-id");
            $(".IdCaraterSelecionado").val(idCarater);
            var form = $("#modalRealizarBaixa");
            form.modal('show');
        });

        $(".btnRealizarBaixa").button().click(function () {
            var idCarater = $(".IdCaraterSelecionado").val();
            var descricao = $(".txtDescricao").val();
            var cidade = $("#Filtro_Cidade").select2('val');

            if (cidade == "")
                campeonatoGeral.AdicionarMensagemDeErro("Selecione a cidade");
            else {
                $.ajax({
                    type: 'GET',
                    url: '/Carater/RealizarBaixa',
                    data: 'idCarater=' + idCarater + "&descricao=" + descricao + "&cidade=" + cidade,
                    success: function (resultado) {
                        campeonatoGeral.AdicionarMensagemDeSucesso(resultado);
                        window.location.assign("../Home/Dashboard");
                    }
                });
            }
        });
    });

</script>
