@model Cgp.Aplicacao.GestaoDeCaraters.Modelos.ModeloDeListaDeCaraters
@{
    ViewBag.Title = "Caráters Gerais";
}
<form action="@Url.Action("Dashboard", "Home")" id="formBuscarCarater" method="post" enctype="multipart/form-data">

    <div class="content-wrapper">

        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-3">
                        <h1 class="m-0 text-dark">Caráter Geral 72 horas</h1>
                    </div>

                    @if (Request.Browser.IsMobileDevice)
                    {
                        <div class="col-lg-5 col-sm-12 col-xs-12 text-center">
                            <a href="#" class="btn btn-block btn-primary btnBuscarCidades btnBotaoTopo" data-toggle="modal" data-target="#modalBuscarPorCidades"> <i class="fas fa-home"></i> Buscar por Cidades</a>
                            <a href="@Url.Action("Cadastrar", "Carater" )" class="btn btn-block btn-default btnBuscarCidades btnBotaoTopo"> <i class="fas fa-car-alt"></i> Novo Caráter </a>
                        </div>
                    }
                    else
                    { 
                        <div class="col-lg-3 col-sm-12 col-xs-12 text-center">
                            <a href="#" class="btn btn-primary btnBuscarCidades btnBotaoTopo" data-toggle="modal" data-target="#modalBuscarPorCidades"> <i class="fas fa-home"></i> Buscar por Cidades</a>
                        </div>
                        <div class="col-lg-2 col-sm-12 col-xs-12 text-center">
                            <a href="@Url.Action("Cadastrar", "Carater" )" class="btn btn-default btnBotaoTopo" > <i class="fas fa-car-alt"></i> Novo Caráter </a>
                        </div>
                    }

                    <div class="col-lg-4 col-sm-12">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home" )">Home</a></li>
                            <li class="breadcrumb-item active">@ViewBag.Title</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-2">
                        <input type="text" class="form-control txtBuscar" id="txtBuscar" placeholder="Consultar por placa, marca, modelo, cor." style="width: 300px;" />
                    </div>
                </div>
                <div class="row" id="divDados" style="margin-top: 10px;">
                    @if (Model.Lista.Count > 0)
                    {
                        foreach (var item in Model.Lista)
                        {
                            <div class="col-lg-4 col-sm-12 col-xs-12">
                                <div class="small-box bg-default">
                                    <div class="inner">
                                        <h3> @item.PlacaVeiculo <button type='button' class='btn btn-xs btn-default btnAbrirBaixa right' data-id="@item.Id"> <i class="fas fa-arrow-alt-circle-down"></i> Realizar Baixa </button></h3>
                                        <sup style="font-size: 16pt"> @item.NomeVeiculo @item.CorVeiculo</sup>
                                        <p style="font-size: 14pt; margin-bottom: 0px !important;"> <span class="@item.CssTipoCrime">@item.NomeCrime </span> no dia  @item.DataDoFato</p>
                                        <p style="font-size: 14pt; margin-bottom: 0px !important;">@item.NomeCidade @item.ComplementoEnderecoTradado</p>
                                        <p style="font-size: 14pt; margin-bottom: 0px !important;">@item.Descricao</p>
                                    </div>
                                    <a href="@Url.Action("Detalhar", "Carater", new { id = item.Id })" class="small-box-footer" style="color:black !important; ">Mais informações <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        }
                    } else
                    {
                        <div class="col-12">
                            <div class="small-box bg-default">
                                <div class="inner">Nenhum caráter nas últimas 72 horas.</div>
                            </div>
                        </div>   
                    }
                </div>
                <div class="row" id="divDadosNovos" style="margin-top: 10px;"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalBuscarPorCidades" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Busca por Cidades <span class="spnTitulo"></span></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card divDados">
                        <div class="card-header">
                            <h3 class="card-title">
                                Selecione as cidades desejadas
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                @foreach (var item in Model.Filtro.Cidades)
                                {
                                    <div class="col-lg-6">
                                        <input type="checkbox" class="checkbox checkCidades" name="Filtro.CidadesSelecionadas[]" checked="@item.Selected" value="@item.Value" />
                                        <label class="control-label" for="@item.Text">@item.Text</label>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn btn-primary pull-right btnBuscar">Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalRealizarBaixa" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Realizar baixa de Caráter <span class="spnTitulo"></span></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <input type="hidden" class="IdCaraterSelecionado"/>
                    
                </div>
                <div class="modal-body">
                    <div class="card divDados">
                        <div class="card-header">
                            <h3 class="card-title">
                                Informe os dados da localização
                            </h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <label class="control-label"> Descrição </label>
                                    <input type="text" class="form-control txtDescricao" />
                                    <br />
                                </div>
                                <div class="col-lg-12">
                                    <label class="control-label"> Cidade </label>
                                    @Html.DropDownListFor(m => m.Filtro.Cidade, Model.Filtro.CidadesLocalizacao, new { @class = "form-control autoComplete ddlModal" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn btn-primary pull-right btnRealizarBaixa"><i class='fa fa-save'> </i> Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript" language="javascript">

    $(function () {
        $(".btnBuscarCidades").button().click(function () {
            var form = $("#modalBuscarPorCidades");
            form.modal('show');
        });

        $(".btnBuscar").button().click(function () {
            $(this).prop("disabled", true);
            $("#formBuscarCarater").submit();
        });

        $(function () {
            setTimeout(function () {
                $("#formBuscarCarater").submit();
            }, 60000); //1 * 60 * 1000
        });

        function abrirBaixa(idCarater) {
            debugger;
            $(".IdCaraterSelecionado").val(idCarater);
            var form = $("#modalRealizarBaixa");
            form.modal('show');
        }

        $(".txtBuscar").keyup(function () {
            
            var placa = $(this).val();
            var divDados = $("#divDados");
            var tabela = "";
            if (placa.length > 2) {
                $.ajax({
                    type: 'GET',
                    url: '../Carater/BuscarCaraterPorPlaca',
                    data: 'placa=' + placa,
                    beforeSend: function (resultado) {
                        $.blockUI({ message: "<div style='color: white'> <i class='fa fa-spinner fa-pulse fa-3x'></i> </div>", css: { border: '0px', backgroundColor: 'none' } });
                    },
                    success: function (resultado) {
                        $.unblockUI();
                        if (resultado.Lista != undefined) {

                            if (resultado.Lista.length > 0) {
                                $(resultado.Lista).each(function () {
                                    divDados.hide();
                                    
                                    var item = $(this);
                                    tabela += "<div class='col-sm-12 col-lg-4'>";
                                    tabela += "<div class='small-box bg-default'> <div class='inner'>";

                                    tabela += "<h3>" + item[0].PlacaVeiculo;
                                    if (!item[0].VeiculoLocalizado) tabela += "<a type='button' class='btn btn-xs btn-default' href='../Carater/Detalhar/" + item[0].Id + "'> <i class='fas fa-arrow-alt-circle-down'></i> Realizar Baixa </a>";
                                    tabela += "</h3>";
                                    tabela += "<sup style='font-size: 16pt'>" + item[0].NomeVeiculo + item[0].CorVeiculo + " </sup>";
                                    if (item[0].VeiculoLocalizado) tabela += "<sup style='font-size: 16pt' class='badge bg-warning'>Veículo localizado.</sup>";
                                    tabela += "<p style='font-size: 14pt; margin-bottom: 0px !important;'> <span class='" + item[0].CssTipoCrime + "'>" + item[0].NomeCrime + "</span> no dia " + item[0].DataDoFato + "</p>";
                                    tabela += "<p style='font-size: 14pt; margin-bottom: 0px !important;'>" + item[0].NomeCidade + " - " + item[0].ComplementoEndereco + "</p>";
                                    tabela += "<p style='font-size: 14pt; margin-bottom: 0px !important;'>" + item[0].Descricao + "</p>";
                                    tabela += "</div>" + "<a href='../Carater/Detalhar/" + item[0].Id + "' target='_blank' class='small-box-footer' style='color:black !important; '>Mais informações <i class='fas fa-arrow-circle-right'></i></a>";
                                    tabela += "</div></div>";

                                });
                                $("#divDadosNovos").html(tabela).show();
                            } else {
                                campeonatoGeral.AdicionarMensagemDeErro("Veículo não encontrado na lista.");
                                divDados.show();
                                $("#divDadosNovos").html("").hide();
                            }
                        } else {
                            divDados.show();
                            campeonatoGeral.AdicionarMensagemDeErro("Veículo não encontrado.");
                        }
                    }
                });
            } else {
                divDados.show();
                $("#divDadosNovos").html("").hide();
            }
        });

        $(".btnAbrirBaixa").button().click(function () {
            var idCarater = $(this).attr("data-id");
            $(".IdCaraterSelecionado").val(idCarater);
            var form = $("#modalRealizarBaixa");
            form.modal('show');
        });
        
        $(".btnRealizarBaixa").button().click(function () {
            var idCarater = $(".IdCaraterSelecionado").val();
            var descricao = $(".txtDescricao").val();
            var cidade = $("#Filtro_Cidade").select2('val');

            if (cidade == "")
                campeonatoGeral.AdicionarMensagemDeErro("Selecione a cidade");
            else {
                $.ajax({
                    type: 'GET',
                    url: '/Carater/RealizarBaixa',
                    data: 'idCarater=' + idCarater + "&descricao=" + descricao + "&cidade=" + cidade,
                    success: function (resultado) {
                        campeonatoGeral.AdicionarMensagemDeSucesso(resultado);
                        window.location.assign("../Home/Dashboard");
                    }
                });
            }
        });
    });

</script>
